<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quizappnative">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".admissionQuestins.AdmissionSUSTActivity"
            android:parentActivityName=".admissionQuestins.AllAdmissionActivity" />
        <activity
            android:name=".admissionQuestins.AdmissionRUETActivity"
            android:parentActivityName=".admissionQuestins.AllAdmissionActivity" />
        <activity
            android:name=".admissionQuestins.AdmissionRajshahiUniActivity"
            android:parentActivityName=".admissionQuestins.AllAdmissionActivity" />
        <activity
            android:name=".admissionQuestins.AdmissionNoakhaliActivity"
            android:parentActivityName=".admissionQuestins.AllAdmissionActivity" />
        <activity
            android:name=".admissionQuestins.AdmissionKUETActivity"
            android:parentActivityName=".admissionQuestins.AllAdmissionActivity" />
        <activity
            android:name=".admissionQuestins.AdmissionKhulnaUniActivity"
            android:parentActivityName=".admissionQuestins.AllAdmissionActivity" />
        <activity
            android:name=".admissionQuestins.AdmissionKaziNazrulActivity"
            android:parentActivityName=".admissionQuestins.AllAdmissionActivity" />
        <activity
            android:name=".admissionQuestins.AdmissionJagannathActivity"
            android:parentActivityName=".admissionQuestins.AllAdmissionActivity" />
        <activity
            android:name=".admissionQuestins.AdmissionJahangirnagarActivity"
            android:parentActivityName=".admissionQuestins.AllAdmissionActivity" />
        <activity
            android:name=".admissionQuestins.AdmissionDhakaUniActivity"
            android:parentActivityName=".admissionQuestins.AllAdmissionActivity" />
        <activity
            android:name=".admissionQuestins.AdmissionCUETActivity"
            android:parentActivityName=".admissionQuestins.AllAdmissionActivity" />
        <activity
            android:name=".admissionQuestins.AdmissionComillaUniActivity"
            android:parentActivityName=".admissionQuestins.AllAdmissionActivity" />
        <activity
            android:name=".admissionQuestins.AdmissionChittagongUniActivity"
            android:parentActivityName=".admissionQuestins.AllAdmissionActivity" />
        <activity
            android:name=".admissionQuestins.AdmissionBUTEXActivity"
            android:parentActivityName=".admissionQuestins.AllAdmissionActivity" />
        <activity
            android:name=".admissionQuestins.AdmissionBUETActivity"
            android:parentActivityName=".admissionQuestins.AllAdmissionActivity" />
        <activity
            android:name=".admissionQuestins.AdmissionMedicalActivity"
            android:parentActivityName=".admissionQuestins.AllAdmissionActivity" />
        <activity
            android:name=".jobAllQuestions.JobBCSActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".admissionQuestins.AllAdmissionActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".jobBankQuestions.BankUttaraActivity"
            android:parentActivityName=".jobBankQuestions.AllBankJobsActivity" />
        <activity
            android:name=".jobBankQuestions.BankSonaliActivity"
            android:parentActivityName=".jobBankQuestions.AllBankJobsActivity" />
        <activity
            android:name=".jobBankQuestions.BankRupaliActivity"
            android:parentActivityName=".jobBankQuestions.AllBankJobsActivity" />
        <activity
            android:name=".jobBankQuestions.BankPKBActivity"
            android:parentActivityName=".jobBankQuestions.AllBankJobsActivity" />
        <activity
            android:name=".jobBankQuestions.BanksMixedActivity"
            android:parentActivityName=".jobBankQuestions.AllBankJobsActivity" />
        <activity
            android:name=".jobBankQuestions.BankJanataActivity"
            android:parentActivityName=".jobBankQuestions.AllBankJobsActivity" />
        <activity
            android:name=".jobBankQuestions.BanksCombinedActivity"
            android:parentActivityName=".jobBankQuestions.AllBankJobsActivity" />
        <activity
            android:name=".jobBankQuestions.BankBangladeshActivity"
            android:parentActivityName=".jobBankQuestions.AllBankJobsActivity" />
        <activity
            android:name=".jobBankQuestions.BankAgraniActivity"
            android:parentActivityName=".jobBankQuestions.AllBankJobsActivity" />
        <activity
            android:name=".jobBankQuestions.AllBankJobsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".sscQuestions.SSCEnglish1stActivity"
            android:parentActivityName=".sscQuestions.SSCMainActivity" />
        <activity
            android:name=".sscQuestions.SSCEconomicsActivity"
            android:parentActivityName=".sscQuestions.SSCMainActivity" />
        <activity
            android:name=".sscQuestions.SSCCivicsActivity"
            android:parentActivityName=".sscQuestions.SSCMainActivity" />
        <activity
            android:name=".sscQuestions.SSCChemistryActivity"
            android:parentActivityName=".sscQuestions.SSCMainActivity" />
        <activity
            android:name=".sscQuestions.SSCBusinessInitActivity"
            android:parentActivityName=".sscQuestions.SSCMainActivity" />
        <activity
            android:name=".sscQuestions.SSCBiologyActivity"
            android:parentActivityName=".sscQuestions.SSCMainActivity" />
        <activity
            android:name=".sscQuestions.SSCBDWorldViewActivity"
            android:parentActivityName=".sscQuestions.SSCMainActivity" />
        <activity
            android:name=".sscQuestions.SSCBangla2ndActivity"
            android:parentActivityName=".sscQuestions.SSCMainActivity" />
        <activity
            android:name=".sscQuestions.SSCBangla1stActivity"
            android:parentActivityName=".sscQuestions.SSCMainActivity" />
        <activity
            android:name=".sscQuestions.SSCAgricultureActivity"
            android:parentActivityName=".sscQuestions.SSCMainActivity" />
        <activity
            android:name=".sscQuestions.SSCAccountingActivity"
            android:parentActivityName=".sscQuestions.SSCMainActivity" />
        <activity
            android:name=".sscQuestions.SSCMainActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".readingMaterials.BooksIntAffairActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".readingMaterials.BooksEngLiterActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".readingMaterials.BooksBDStudyActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".readingMaterials.BooksMathsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".readingMaterials.BooksEnglishActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".readingMaterials.BooksBanglaActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".quizActivities.QuizScoreActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".quizActivities.QuizQuestionActivity"
            android:parentActivityName=".quizActivities.QuizSetsActivity" />
        <activity
            android:name=".quizActivities.QuizSetsActivity"
            android:parentActivityName=".quizActivities.QuizCategoryActivity" />
        <activity
            android:name=".quizActivities.QuizCategoryActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SearchActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>